{
  "extends": ["airbnb", "prettier"],
  "plugins": ["prettier"],
  "parser": "babel-eslint",
  "rules": {
    "prettier/prettier": ["error"],
    "react/jsx-one-expression-per-line": 0,
    "react/forbid-prop-types": 0,
    "no-case-declarations": 0
  },
  "globals": {
    "fetch": false,
    "document": false,
    "window": false
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true
    }
  }
}
